.infoImage{
    background-image: url('../../Images/video.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:125vh;  
}
.departmentHeader{
    color: #43CB83;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.departmentParagraph{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #6C7D86;
}